<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="8" offset-md="2">
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Qualifica</ion-card-subtitle>
                <ion-card-title>Nome Personaggio</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-card-content>


              <ion-card>
                <ion-row>
                <ion-col>
                  <ion-item href="#" style="text-align: center;" lines="none">
                    <ion-label>
                      <ion-icon name="person"></ion-icon>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item href="#" style="text-align: center;" lines="none">
                    <ion-label>
                      <ion-icon name="pencil"></ion-icon>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item href="#" style="text-align: center;" lines="none">
                    <ion-label>
                      <ion-icon name="trash"></ion-icon>
                    </ion-label>
                  </ion-item>
                </ion-col>
                </ion-row>
              </ion-card>


            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
