<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Multi GDR Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-toolbar>
          <ion-title>Menù Principale</ion-title>
        </ion-toolbar>
        <ion-card routerLink="lexarcana">
          <img src="assets/img/lexarcana.jpg" />
        </ion-card>
        <ion-card routerLink="thewitcher">
          <img src="assets/img/theWitcher.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


