<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Multi GDR Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-toolbar>
          <ion-title>Menù Principale</ion-title>
        </ion-toolbar>
          <ion-img src="assets/img/lexarcana.jpg" routerLink="lexarcana" class="no-padding"></ion-img>
          <ion-img src="assets/img/theWitcher.jpg" routerLink="thewitcher"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


